# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# Streamlit
.streamlit/secrets.toml

# OS specific
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/